:root {
  /* fluid */

  /**
   * ------------------------------------------------
   * x = b + (100vw - xmin * 1px) * i / (xmax - xmin)
   * ------------------------------------------------
   * x: spacing value that goes from b to b + i linearly between xmin and xmax
   * b: spacing value in px at the smallest breakpoint (xmin)
   * i: amount of pixel for b to grow by
   * xmin: smallest breakpoint (where x equals b)
   * xmax: largest breakpoint (where x equals b + i)
   */
  --spacing-mq-min: 0;
  --spacing-mq-max: 360;
  --spacing-fluid-interval: 4;
  --spacing-fluid-base: 4px;
  --spacing-fluid: calc(
    var(--spacing-fluid-base) + (100vw - var(--spacing-mq-min) * 1px) *
      var(--spacing-fluid-interval) / (var(--spacing-mq-max) - var(--spacing-mq-min))
  );

  /* combo */

  --spacing-fluid-1: calc(0.5 * var(--spacing-fluid));
  --spacing-fluid-2: calc(0.75 * var(--spacing-fluid));
  --spacing-fluid-3: calc(1.25 * var(--spacing-fluid));
  --spacing-fluid-4: calc(2 * var(--spacing-fluid));
  --spacing-fluid-5: calc(3.25 * var(--spacing-fluid));
  --spacing-fluid-6: calc(5.25 * var(--spacing-fluid));
}

@media (min-width: 360px) {
  :root {
    --spacing-mq-min: 360;
    --spacing-mq-max: 575;
    --spacing-fluid-base: 8px;
  }
}

@media (min-width: 576px) {
  :root {
    --spacing-mq-min: 576;
    --spacing-mq-max: 767;
    --spacing-fluid-base: 12px;
  }
}

@media (min-width: 768px) {
  :root {
    --spacing-mq-min: 768;
    --spacing-mq-max: 991;
    --spacing-fluid-base: 16px;
  }
}

@media (min-width: 992px) {
  :root {
    --spacing-mq-min: 992;
    --spacing-mq-max: 1199;
    --spacing-fluid-base: 20px;
  }
}

@media (min-width: 1200px) {
  :root {
    --spacing-mq-min: 1200;
    --spacing-mq-max: 1439;
    --spacing-fluid-base: 24px;
  }
}

@media (min-width: 1440px) {
  :root {
    --spacing-mq-min: 1440;
    --spacing-mq-max: 1919;
    --spacing-fluid: 28px;
  }
}

@media (min-width: 1920px) {
  :root {
    --spacing-mq-min: 1920;
    --spacing-mq-max: 3840;
    --spacing-fluid: 32px;
  }
}
