:root {
  /* Line height */
  --line-height-large-headings: 1.125em;
  --line-height-small-headings: 1.25em;
  --line-height-subheaders: 1.375em;
  --line-height-body-texts: 1.5em;
  --line-height-caption-texts: 1.375em;

  /* Type scale */
  --type-scale-3xl: 34px;
  --type-scale-2xl: 28px;
  --type-scale-xl: 24px;
  --type-scale-l: 20px;
  --type-scale-m: 17px;
  --type-scale-s: 15px;
  --type-scale-xs: 13px;
  --type-scale-2xs: 11px;
}

@media (min-width: 480px) {
  :root {
    --type-scale-3xl: 46px;
    --type-scale-2xl: 34px;
    --type-scale-xl: 28px;
    --type-scale-l: 22px;
    --type-scale-m: 18px;
    --type-scale-s: 16px;
    --type-scale-xs: 14px;
    --type-scale-2xs: 12px;
  }
}

@media (min-width: 1024px) {
  :root {
    --type-scale-3xl: 56px;
    --type-scale-2xl: 40px;
    --type-scale-xl: 28px;
    --type-scale-l: 22px;
    --type-scale-m: 18px;
    --type-scale-s: 16px;
    --type-scale-xs: 14px;
    --type-scale-2xs: 12px;

    /* --type-scale-3xl: 3.5rem;
    --type-scale-2xl: calc(0.018 * 100vw + 22px);
    --type-scale-xl: calc(0.031 * 100vw - 4px);
    --type-scale-l: calc(0.02 * 100vw + 1.5px);
    --type-scale-m: calc(0.011 * 100vw + 6.5px);
    --type-scale-s: calc(0.007 * 100vw + 9px);
    --type-scale-xs: calc(0.007 * 100vw + 7px);
    --type-scale-2xs: calc(0.007 * 100vw + 5px); */
  }
}

@media (min-width: 1920px) {
  :root {
    --type-scale-3xl: 56px;
    --type-scale-2xl: 40px;
    --type-scale-xl: 28px;
    --type-scale-l: 22px;
    --type-scale-m: 18px;
    --type-scale-s: 16px;
    --type-scale-xs: 14px;
    --type-scale-2xs: 12px;
  }

  .landingpage,
  .checkout {
    --type-scale-3xl: 46px;
    --type-scale-2xl: 34px;
    --type-scale-xl: 28px;
    --type-scale-l: 22px;
    --type-scale-m: 18px;
    --type-scale-s: 16px;
    --type-scale-xs: 14px;
    --type-scale-2xs: 12px;
  }
}

/*  Black */

@font-face {
  font-family: AlrightSansLT;
  src: url('https://shared.tv2.dk/sites/all/themes/t2/fonts/AlrightSansLT-Black.woff2')
      format('woff2'),
    url('https://shared.tv2.dk/sites/all/themes/t2/fonts/AlrightSansLT-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: AlrightSansLT;
  src: url('https://shared.tv2.dk/sites/all/themes/t2/fonts/AlrightSansLT-BlackItalic.woff2')
      format('woff2'),
    url('https://shared.tv2.dk/sites/all/themes/t2/fonts/AlrightSansLT-BlackItalic.woff')
      format('woff');
  font-weight: 900;
  font-style: italic;
}

/* bold */

@font-face {
  font-family: AlrightSansLT;
  src: url('https://shared.tv2.dk/sites/all/themes/t2/fonts/AlrightSansLT-Bold.woff2')
      format('woff2'),
    url('https://shared.tv2.dk/sites/all/themes/t2/fonts/AlrightSansLT-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: AlrightSansLT;
  src: url('https://shared.tv2.dk/sites/all/themes/t2/fonts/AlrightSansLT-Bold.woff2')
      format('woff2'),
    url('https://shared.tv2.dk/sites/all/themes/t2/fonts/AlrightSansLT-Bold.woff') format('woff');
  font-weight: 700;
}

/* Regular */

@font-face {
  font-family: AlrightSansLT;
  src: url('https://shared.tv2.dk/sites/all/themes/t2/fonts/AlrightSansLT-Regular.woff2')
      format('woff2'),
    url('https://shared.tv2.dk/sites/all/themes/t2/fonts/AlrightSansLT-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: AlrightSansLT;
  src: url('https://shared.tv2.dk/sites/all/themes/t2/fonts/AlrightSansLT-RegularItalic.woff2')
      format('woff2'),
    url('https://shared.tv2.dk/sites/all/themes/t2/fonts/AlrightSansLT-RegularItalic.woff')
      format('woff');
  font-weight: 400;
  font-style: italic;
}

/* light */

@font-face {
  font-family: AlrightSansLT;
  src: url('https://shared.tv2.dk/sites/all/themes/t2/fonts/AlrightSansLT-Regular.woff2')
      format('woff2'),
    url('https://shared.tv2.dk/sites/all/themes/t2/fonts/AlrightSansLT-Regular.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: AlrightSansLT;
  src: url('https://shared.tv2.dk/sites/all/themes/t2/fonts/AlrightSansLT-RegularItalic.woff2')
      format('woff2'),
    url('https://shared.tv2.dk/sites/all/themes/t2/fonts/AlrightSansLT-RegularItalic.woff')
      format('woff');
  font-weight: 300;
  font-style: italic;
}
