.container {
  padding: 20px;
  font-size: 10px;
}

.table {
  color: black;
  display: grid;
  grid-template-rows: repeat(auto-fill, [col-start]);
  row-gap: 10px;
}

.tableRow {
  border-top: 1px solid gray;
  padding-top: 10px;
}

.tableRowHead {
  color: gray;
}

@media (min-width: 600px) {
  .container {
    font-size: 14px;
  }
}

@media (min-width: 1000px) {
  .container {
    font-size: 18px;
  }
}
