.label {
  @apply typo-body-2xs;

  transform-origin: 0 0;
  transform: translateY(-45%);
  transition: all 0.2s ease-out;
  will-change: all;

  &::after {
    content: attr(data-label-hint);
    opacity: 100%;
    transition: opacity 0.2s ease-out;
    will-change: opacity;
  }
}

.input.empty:not(:focus) ~ .label {
  transform: scale(1) translateY(0);

  &::after {
    opacity: 0%;
    content: "";
  }
}
