.commercialOverlay {
  @apply absolute top-0 right-0 opacity-0 h-full w-full pt-4 pr-8 transition-opacity ease-out duration-[0] delay-[0] flex justify-start items-end flex-col pointer-events-none z-[1];

  background: linear-gradient(90deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 90%) 84.37%);

  &.visible {
    @apply opacity-100 ease-in duration-500 delay-[2000ms];
  }

  .commercialWrapper {
    .commercial {
      transform-origin: top right;
    }
  }

  .commercialSmallText {
    @apply text-M mt-3 text-grey-300;
  }
}

@media (--belowScreenMedium) {
  .commercialOverlay {
    &.visible {
      @apply hidden;
    }
  }
}

@media (--screenMedium) {
  .commercialOverlay {
    .commercialWrapper {
      /* ad height / scale */
      height: calc(360 * 300px / 640);

      .commercial {
        /* expected width / actual width = scale */
        transform: scale(calc(300 / 640));
      }
    }
  }
}

@media (--screenLarge) {
  .commercialOverlay {
    @apply pt-8 pr-11;
  }
}

@media (--screenExtraLarge) {
  .commercialOverlay {
    @apply pt-8 pr-12;

    .commercialWrapper {
      /* ad height / scale */
      height: calc(360 * 450px / 640);

      .commercial {
        /* expected width / actual width = scale */
        transform: scale(calc(450 / 640));
      }
    }
  }
}

@media (--aboveScreenExtraLarge) {
  .commercialOverlay {
    @apply pt-8 pr-14;
  }
}

@media (--screen_min_1920) {
  .commercialOverlay {
    .commercialWrapper {
      /* ad height / scale */
      height: calc(360 * 800px / 640);

      .commercial {
        /* expected width / actual width = scale */
        transform: scale(calc(800 / 640));
      }
    }
  }
}
