@media (min-width: theme('screens.xs')) {
  .primary {
    /* min 360 */
    @apply h-5 px-2;

    font-size: 10px;
    line-height: 23px;
  }

  .secondary {
    /* min 360 */
    @apply h-5 px-2;

    font-size: 12px;
    line-height: 23px;
  }
}
@media (min-width: theme('screens.lg')) {
  .primary {
    /* min 992 */
    @apply h-6 px-3;

    font-size: 12px;
    line-height: 27px;
  }

  .secondary {
    /* min 992 */
    @apply h-6 px-5;

    font-size: 14px;
    line-height: 27px;
  }
}
