.label {
  transform-origin: 0 0;
  transform: scale(0.75) translateY(-45%);
  transition: transform 0.2s ease-out;
  will-change: transform;

  &::after {
    content: attr(data-label-hint);
    opacity: 100%;
    transition: opacity 0.2s ease-out;
    will-change: opacity;
  }
}

/* Overwrite tailwind css dropdown chevron */
.input:not([multiple]):not([size]) {
  background-image: none;
}

.input.empty:not(:focus) ~ .label {
  transform: scale(1) translateY(0);

  &::after {
    opacity: 0%;
    content: '';
  }
}

/* the following rules removes the up/down arrows in desktop browsers while preserving the numerical keyboard on mobile devices */
.input[type='number'] {
  appearance: textfield;
}

.input[type='number']::-webkit-inner-spin-button,
.input[type='number']::-webkit-outer-spin-button {
  appearance: none;
}
